* {
    box-sizing: border-box;
}

.text-gray {
  color: #808080;
}

.text-red {
    color: #e80017;
}

/* hr {
    -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
} */

.navbar {
    z-index: 1;
    position: sticky;
}

.navbar-brand img {
    width: 200px;
    padding: 5px;
    margin: 5px;
}

.navbar-nav > li > a {
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    border-radius: 25px;
    padding: 0.55em 1em;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    color: #404041;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: #e80017;
}

.navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #e80017;
}

.main__back {
    background-image: url('../img/healthy.jpg');
    background-size: 80% 100% cover;
    background-position: center;
    background-repeat: no-repeat;
}

.upper {
    text-transform: uppercase;
}

.catch-img {
   max-width: 310px;
}

.offer__back {
    background-image: url('../img/blog-img-3.jpg');
    background-size: 100% 100% cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1194px) and (min-width: 762px) {
    .catch-img {
        max-width: 150px;
     }
  }